.container {
  width: 1100px;
  margin: 0 auto;
}


.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}


.App-header h1 { margin: 0; margin-bottom: 10px;}


.App-header span {
  background-color: #61dafb;
  padding: 2px 10px;
}

.App-topbar {
  background: #fff;
  color: #20232a;
  padding: 3px;
}

.App-topbar p{
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.Header-left {
  padding-right: 30px;
}

.Meetup-date-box {
  background-color: #20232a;
  max-width: 400px;
  height: 120px;
  flex: 1 1 auto;
  flex-basis: 25%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 0.2em 1.5em 1em;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.Meetup-date-box h3 {
  font-weight: normal;
  margin: 0;
  font-size: 30px;
}


.App-body {
  padding-bottom: 80px;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Row .Col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Section {
  margin-bottom: 20px;
}

.Section .shadow {
  border-left: 1px solid #61dafb;
}


.text-center {
  text-align: center;
}

.shadow {
  background-color: #20232a;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 10%);
}

.join-cta {
  padding: 80px 0;
  background-color: white;
  color: #20232a;

}

.join-cta .btn {
  width: 50%;
}

.btn {
  display:inline-block;
  width: 100%;
  background: #61dafb;
  color: #20232a;
  padding: 20px;
  border: none;
  font-size: 22px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.btn:hover, .btn:focus {
  opacity: 0.9;
}

footer p{
  margin: 0;
  padding: 6px;
}

